.url {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.8em;
  word-break: break-word;
  color: black;
}

.center {
  padding-top: 30px;
  float: none;
  text-align: center;
  max-width: initial;
}

.icon {
  margin: 20px auto;
}

.uptime {
  padding-top: 20px;
  color: #5c4;
  font-size: 4em;
  font-weight: 200;
  display: block;
  text-align: center;
  font-family: sans-serif;
}

.down-since {
  padding-top: 10px;
  color: #aaa;
  margin-top: 0.5em;
}

.description {
  padding-top: 20px;
  display: inline-block;
  text-align: left;
  font-size: larger;
  font-family: sans-serif;
}

/* checks table */

.checks {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-header {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #babcbe;
  color: white;
}

.table-column {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.column-heading {
  padding: 15px;
  text-align: left;
  color: black;
  border: 1px solid #ddd;
}

.links {
  text-decoration: none;
  font-family: sans-serif;
}
